<!DOCTYPE html>
<html lang="es">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Con Lo Que Tengo!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesquienessomos.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../components/home/home.html">
          <img 
            src="../../assets/incono-clqt.png" 
            alt="CON LO QUE TENGO!" 
            width="60" 
            height="60"
          > 
          </a>
        <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../components/presentacion/presentacion.html">PRESENTACION</a>
            </li>              
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../components/compartiTuReceta/compartitureceta.html">COMPARTI TU RECETA</a>
            </li>      
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../components/quienesSomos/quienesSomos.html">QUIENES SOMOS</a>
            </li>        
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../components/contacto/contacto.html">CONTACTO</a>
            </li>
        </div>
      </div>
    </nav>
      <div class="conteiners">           
        <img 
          class="quienessomoslogo" 
          src="../../assets/Quienes Somos.png" 
          alt="quienes-somos"
        >
      </div>   
    <div class="contenido">
      <section class="fila">
        <div class="container grid-3 center">                       
          <ul id="region1">
            <li class="nosotros">
              <div class="tile">
                  <figure 
                    class="front c1">
                    <img 
                      src="../../assets/compa1.jpg" 
                      alt="Magali">
                  </figure>
                  <figure 
                    class="back c1">
                    <a href="https://www.linkedin.com/in/magali-edith-moyano-a13b12170" target="_blank" class="name">
                      Magali
                    </a>
                  </figure>
                </div>
            </li>
            <li class="nosotros">
              <div class="tile">
                <figure 
                  class="front c1">
                  <img 
                    src="../../assets/santi perfil.jpeg" 
                    alt="Santiago">
                </figure>
                <figure 
                  class="back c1">
                  <a href="https://www.linkedin.com/in/santiago-mendoza-722a43222" target="_blank" class="name">
                    Santiago
                  </a>
                </figure>
              </div>
              </li>
              <li class="nosotros">
                <div class="tile">
                  <figure 
                    class="front c1">
                    <img 
                      src="../../assets/Daniperfil.jpeg" 
                      alt="Daniel">
                    </figure>
                  <figure 
                    class="back c1">
                    <a href="https://www.linkedin.com/in/danielceballos1987/" target="_blank" class="name">
                      Daniel
                    </a>
                  </figure>
                </div>
              </li>
          </ul>
        </div>
    </section>
    <section class="fila">
      <div class="container grid-3 center">                       
        <ul id="region1">
          <li class="nosotros">
            <div class="tile">
              <figure 
                class="front c1">
                <img 
                  src="../../assets/Natalia.jpeg" 
                  alt="Natalia">
              </figure>
              <figure 
                class="back c1">
                <a href="https://github.com/JuanIgnacioMarchetto/" target="_blank" class="name">
                  Natalia
                </a>
              </figure>
            </div>
          </li>
          <li class="nosotros">
            <div class="tile">
              <figure 
                class="front c1">
                <img 
                  src="../../assets/Veronica.jpeg" 
                  alt="Veronica">
              </figure>
              <figure 
                class="back c1">
                <a href="https://www.linkedin.com/in/ver0nicas0sa" target="_blank" class="name">
                  Veronica
                </a>
              </figure>
            </div>
          </li>
          <li class="nosotros">
            <div class="tile">
              <figure 
                class="front c1">
                <img 
                  src="../../assets/juani.jpg" 
                  alt="Juan">
              </figure>
              <figure 
                class="back c1">
                <a href="https://www.linkedin.com/in/juan-ignacio-marchetto-336a2a57/" target="_blank" class="name">
                  Juan Ignacio
                </a>
              </figure>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>   
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Nosotros</h4>
        <p>ALUMNOS DE ARGENTINA PROGRAMA 4.0      </p>
      </div>
      <div class="col-md-4">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="../../components/home/home.html">HOME</a></li>
          <li><a href="../../components/presentacion/presentacion.html">Presentacion</a></li>
          <li><a href="#">Quienes somos</a></li>
          <li><a href="../../components/contacto/contacto.html">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Contacto</h4>
        <p><a href="mailto:conloquetengo@gmail.com">conloquetengo@gmail.com</a></p>
        <p><a href="tel:+541234567898">Tel: 11 09122018</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Derechos de autor ©2023 ConLoQueTengo.com - Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>